<!DOCTYPE html>
<html>

    <head>
        <title>Foodfy</title>
        <link rel="stylesheet" href="/styles.css">
    
    </head>


    <body>
        {%block header%}
        <header>
            <div class="header">
                <a href="/" class="logo"><img src="./assets/logo.png"  alt="logo"></a>
                
                <a href="/about" class="sobre">Sobre</a>
                <a href="/recipe" class="sobre">Receitas</a>
            </div>
            
        </header>
        {%endblock%}
        <section>
        {%block content%}

        {%endblock%}
        </section>

        <script src="/scripts.js"></script>
        
        
        <div class="footer">
            <h1>Todos direitos reservados, receitas Foodfy</h1>
        </div>
        
        

    </body>



</html>